// Screen sizes
$desktop: 1439px;
$laptop: 1279px;
$tablet: 1079px;
$mobile: 767px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
// Colors main
$color-white: #FFF;
$color-black: #1D2126;

$color-orange: #FCA311;
$color-purple: #846075;
$color-red: #FE5F55;
$color-sky: #7DBCCA;
$color-blue: #545775;

$color-border: #333333;
$color-dark-green: #688129;

// Box-shadows
$shadow: 0 4px 8px 0 rgba($color-black, .1);

// Fonts
$font: "Font", "Arial", -apple-system, sans-serif;
$font-montserrat: "Montserrat", "Helvetica", sans-serif;
