.balloon {
  max-width: 312px;

  p {
    margin-top: 10px;
  }
}

.balloon__title {
  @extend %h1;

  color: $color-black;
}

.balloon__text {
  @extend %p2;

  color: $color-black;
}

.balloon__link {
  @extend %p2;

  color: $color-sky;
  text-decoration: none;
  border-bottom: 1px solid $color-sky;
}

.ymaps-2-1-79-balloon,
.ymaps-2-1-79-balloon__layout {
  border-radius: 16px;
}
