// =====================
// FAIR (Ближайшая ярмарка)
// =====================

.fair {
  width: 100%;
  background: $color-white;
}

.fair__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 64px 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 32px;


  @include laptop {
    max-width: 1140px;
    padding: 48px 24px;
  }

  @include tablet {
    max-width: 960px;
    padding: 32px 16px;
  }

  @include mobile {
    max-width: 100%;
    padding: 24px 12px;
  }
}

.fair__label {
  @extend %h1-promo;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  //padding: 16px 32px;

  border-radius: 0;
  background: transparent;

  margin: 0;

  @include tablet {
    //padding: 12px 24px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 36px;
    //padding: 8px 16px;
  }
}

.fair__card {
  display: grid;
  grid-template-columns: minmax(0, 1.2fr) minmax(0, 2fr);
  gap: 32px;

  //padding: 32px;

  // фон и тень теперь на контейнере

  @include laptop {
    gap: 24px;
    //padding: 28px;
  }

  @include tablet {
    grid-template-columns: 1fr;
    //padding: 24px;
  }

  @include mobile {
    gap: 16px;
    //padding: 20px;
    border-radius: 20px;
  }
}

.fair__image-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.fair__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.fair__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 4px;
  background: $color-background-green;
  height: 100%;
  border-radius: 12px;
}

.fair__slider {
  width: 100%;
  overflow: hidden;
}

.fair__list {
  display: flex;
  height: 100%;
}

.fair__content.swiper-slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.fair__title {
  @extend %h1-promo;
  margin: 0;
  color: $color-white;
  padding: 12px 20px;
  border-radius: 12px;
  background: $color-dark-green;

  @include mobile {
    font-size: 24px;
    line-height: 36px;
  }
}

.fair__date {
  @extend %p1-bold;
  margin: 0;
}

.fair__description {
  @extend %p1;
  margin: 0;
}

.fair__button {
  @include button-reset;
  @extend %header;

  align-self: flex-start;
  margin-top: 8px;
  padding: 12px 24px;

  border-radius: 999px;
  background: $color-dark-green;
  color: $color-white;

  @include transition(background-color, color, box-shadow);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  &:hover {
    background: $color-dark-green-hover;
  }

  @include mobile {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

