// Стилизация элемента: header
// Описание элемента:   Общий заголовок

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: $color-white;
  border-bottom: 4px solid $color-border;
}

.header__container {
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
  height: 80px;
  box-sizing: border-box;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
  margin-right: 24px;
}

.header__title {
  @extend %h1-logo;
  margin: 0;
  white-space: nowrap;

}

.header__nav {
  flex-shrink: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 24px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: inherit;

  // можно добавить hover по твоему дизайн-гайду
  &:hover {
    text-decoration: underline;
  }
}

.header__item {
  @extend %h1-promo;
}
