// Стилизация элемента: maps
// Описание элемента:   Стилизация разводящей для карт

.maps__container {
  overflow: hidden;
  width: 80vw;
  margin: 0 auto;
}

.maps__control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  padding: 24px 0;
}

.maps__control-group {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, fit-content(100%));
  grid-column-gap: 12px;
  width: fit-content;

  &:first-child {
    justify-self: flex-end;
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: $color-sky;
    }

    .maps__control-text {
      opacity: 1;
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;

    svg {
      fill: rgba($color-black, .6);
    }

    .maps__control-text {
      opacity: 0;
    }
  }
}

.maps__control-text {
  @include transition(opacity);

  @extend %p1;

  opacity: .6;
}

.maps__control-btn {
  @include button-reset;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    @include transition(fill);

    fill: $color-black;
  }

  &:hover {
    svg {
      fill: $color-sky;
    }
  }
}

.maps__wrapper {
  display: inline-flex;
  flex-flow: row nowrap;
}
